$font-stack: "Montserrat", sans-serif;

.E404 {
    color: #FF6060;
    font: 10em $font-stack;
    font-weight: 700;
    text-align: center;
}

.texte {
    color: #FF6060;
    font: 150% $font-stack;
    text-align: center;
}

.redirection {
    display: flex;
    justify-content: center;
    color: black;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}




