@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$font-stack: "Montserrat", sans-serif;
*{font-family: "Montserrat"}

main {
    padding: 45px;
    max-width: 2500px;
}

.imageAccueil {
    width: 100%;
    height: 220px;
    filter: brightness(40%);
    object-fit: cover;
    border-radius: 20px; 
}

.titreAccueil {
    position: absolute;
    color: white;
    bottom: 25%;
    left: 30%;
    text-shadow: 0px 2px 2px black;
    font-size: xxx-large;
}

.divAccueil {
    display: flex;
    justify-content: center;
}

.accueil {
    position: relative;
}



@media (max-width: 767.98px) {

main {
    padding: 30px;
}

.titreAccueil {
    font-size: 30px;
    left: 0;
    bottom: 15%;
    margin-left: 10px;
    width: 285px;
}
    
.imageAccueil {
    height: 150px;
}
    


}