.imageApropos {
    width: 100%;
    height: 220px;
    filter: brightness(70%);
    object-fit: cover;
    border-radius: 20px; 
}

.collapsesApropos {
    display: flex;
    flex-direction: column;
    margin-left: 450px;
    width: 50%;
}