.imageApropos {
    width: 100%;
    height: 220px;
    filter: brightness(70%);
    object-fit: cover;
    border-radius: 20px;
}

.collapsesApropos {
    display: flex;
    flex-direction: column;
    margin-left: 450px;
    width: 50%;
}


@media (max-width: 767.98px) {

main {
    padding: 30px;
}    

.collapsesApropos {
    margin-top: 20px;
    margin-left: 0;
    width: 100%;
}
    
}