.Gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F6F6F6;
    padding-top: 50px;
    margin-top: 30px;
}

.Card {
    width: 28%;
    height: 400px;
    margin-bottom: 80px
}

.Card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.Card p {
    position: relative;
    bottom: 60px;
    color: white;
    text-wrap: wrap;
    margin-left: 15px;
    text-shadow: 1px 2px 1px black;
}


@media (max-width: 767.98px) {
    
.Card {
    width: unset;
    margin-bottom: 20px;
}

.Gallery {
    display: block;
    background-color: unset;
    margin-top: 0;
}
}