$font-stack: "Montserrat", sans-serif;

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.orga {
   width: 66%;
   margin-bottom: 20px;
}

.btnCollapse {
    background-color: #FF6060;
    border: transparent;
    margin-right: 15px;
    transition-property: transform;
    transition-duration: 0.5s;
    transform: rotate(0deg);
}

.btnCollapseO {
    background-color: #FF6060;
    border: transparent;
    margin-right: 15px;
    transition-property: transform;
    transition-duration: 0.5s;
    transform: rotate(-180deg);
}

.divCollapseTXT {
    font-size: 22px;
    font-weight: 700;
    margin-left: 15px;
}

.divCollapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    color: white;
    height: 45px;
    border: transparent;
    border-radius: 5px;
}

.contenuCollapse{
   background-color: #F6F6F6;
   padding-top: 1px;
   padding-bottom: 1px;
   padding-left: 15px;
   padding-right: 15px;
   animation: fadeIn 1s;
   border-radius: 0px 0px 5px 5px;
   font: 100% $font-stack;
}

.affichage {
    display: flex;
    justify-content: center;
}