main {
    padding: 45px;
}

.collapses {
    display: flex;
    justify-content: space-between;
}

.collapseDescription {
    width: 45%;
}

.collapseEquipements {
    width: 45%;
}

.titreLogement {
    color: #FF6060;
    font-weight: 500;
}

.locationLogement {
    font-weight: 600;
    margin-top: -15px;
}

.presentation {
    display: flex;
    justify-content: space-between;
}

.infosHote {
    display: flex;
    margin-left: 91%;
}

.imgHote {
    border-radius: 80px;
    height: 70px;
    margin-top: 20px;
}

.nomHote  {
    display: flex;
    margin-top: 32px;
    margin-right: 10px;
    width: 90px;
    color: #FF6060;
    font-weight: 500;
    font-size: large;
    flex-wrap: wrap;
    text-align: right;
}

.listeTags {
    display: flex;
    gap: 10px;
}

.tag {
    color: white;
    background-color: #FF6060;
    font-weight: 600;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.tagsRatings {
    display: flex;
    justify-content: space-between;
}

.ratings {
    display: flex;
    gap: 5px;
    height: 25px;
    margin-top: 16px;
}

.englobeur {
    display: flex;
    flex-direction: column;
    margin-top: -100px;
}

@media (max-width: 767.98px) {

.photo {
    height: 400px;
}

.numero {
    display: none;
}

.flecheGauche {
    bottom: 45%;
}

.flecheGauche img {
    width: 20px;
}

.flecheDroite {
    bottom: 45%;
}

.flecheDroite img {
    width: 20px;
}

.tagsRatings {
    flex-direction: column;
    margin-top: 80px;
}

.ratings {
    margin-top: 0;
    margin-bottom: 30px;
}

.locationLogement {
    margin-top: -10px;
}

.collapses {
    flex-direction: column;
}

.collapseDescription {
    width: unset;
}

.collapseEquipements {
    width: unset;
}

.infosHote {
    margin-top: 53px;
    position: absolute;
    top: 80px;
    right: 0;
}

.nomHote {
    width: 50px;
    font-size: small;
    margin-top: 23px;
    
}

.imgHote {
    height: 40px;
}

.tag {
    font-size: medium;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.englobeur {
    position: relative;
}

.titreLogement {
    font-size: x-large;
}


}