main {
    padding: 45px;
}

.flecheGauche {
    position: relative;
    bottom: 350px;
    background-color: transparent;
    border: transparent;
}

.flecheDroite {
    transform: rotate(180deg);
    position: relative;
    bottom: 350px;
    left: 1672px;
    background-color: transparent;
    border: transparent;
}

.numero {
    position: relative;
    bottom: 150px;
    left: 900px;
    color: white;
    font-weight: 700;
    font-size: large;
}

.photo {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 25px;
}